#profileImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #38392b;
    filter: drop-shadow(0 0 8px purple);
    position: absolute;
    left: 200px;
}
@keyframes animation {
    0%   {background-color: #634545;}
    25%  {background-color: #c9bfbf;}
    50%  {background-color: #d0bfbf;}
    100% {background-color: #ddc3c3;}
  }
@keyframes animationText {
    0%   {color: #aea9a9;}
    25%  {color: #757373;}
    50%  {color: #545353;}
    100% {color: #131313;}
  }
#nameHeader {
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: #333;
    animation-name: animationText;
    animation-duration: 5s;
    position: absolute;
    left: 170px;
    top: 180px;
}
p {
    position: absolute;
    left: 100px;
    top: 250px;
}
#link1 {
    font-size: 30px;
    position: absolute;
    left: 220px;
    top: 350px;
}
#container {
    background-color: #ddc3c3;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    filter: drop-shadow(0 0 15px purple);
    position: relative;
    animation-name: animation;
    animation-duration: 5s;
    display: block;
    margin-left: 470px;
    margin-right: 470px;
    width: 500px;
    height: 400px;
}